<mat-toolbar color="primary">
  My deferred tabs! <span>{{prefetchTabs()}}</span>
  <mat-slide-toggle (toggleChange)="prefetchTabs.set(!prefetchTabs())">
    <span class="prefetch-slider">Prefetch tabs</span>
  </mat-slide-toggle>
</mat-toolbar>
<mat-tab-group (selectedIndexChange)="selectedTabIndex.set($event)">
  <mat-tab label="Welcome Tab"> Welcome to the initial tab! </mat-tab>
  <mat-tab label="My Card View">
    @defer(when selectedTabIndex() === 1; prefetch when prefetchTabs();on timer(5000)) {
    <app-card-view />
    } @placeholder() {
    placeholder
    } @loading(minimum 1000) {

    cargando
    } @error {
    <p class="text-red-500">Something went wrong...
    <p>
      }
  </mat-tab>
  <mat-tab label="My Video Player">
    @defer(when selectedTabIndex() === 2; prefetch when prefetchTabs()) {
    <app-video-player id="nRc-579zT6s" />
    } @placeholder() {
    placeholder
    } @loading(minimum 1000) {

    cargando
    } @error {
    <p class="text-red-500">Something went wrong...
    <p>
      }
  </mat-tab>
  <mat-tab label="My Google Maps">
    @defer(when selectedTabIndex() === 3; prefetch when prefetchTabs()) {
    <app-google-maps />
    } @placeholder() {
    placeholder
    } @loading(minimum 1000) {

    cargando
    } @error {
    <p class="text-red-500">Something went wrong...
    <p>
      }
  </mat-tab>
</mat-tab-group>